@font-face {
    font-family: "Futura PT";
    src: url("./fonts/FuturaPT-Medium.woff2");
}

@font-face {
    font-family: "Futura PT";
    src: url("./fonts/FuturaPT-Light.woff2");
}

@font-face {
    font-family: "Futura PT";
    src: url("./fonts/FuturaPT-Book.woff2");
}

@font-face {
    font-family: "Futura PT";
    src: url("./fonts/FuturaPT-Bold.woff2");
}

* {
    box-sizing: border-box;
}

:root {
    --main-text-color: #333;
    --main-font-weight: 500;
    --main-font-size: ;
    --main-background-repeat: no-repeat:
}

img {
    display: block;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: "Futura PT",sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-image: url("./images/bg.png");
    background-color: #f9f8f8;
    overflow-x: hidden;
}

.container {
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.site-main {
    flex-grow: 1;
}

   /*   Header section   */

.site-header {
    padding-top: 13px;
}

    /*  Site-adress Inner  */


.site-adress {
    display: flex;
    padding-bottom: 13px;
    padding-left: 185px;
}

.site-adress__mini {
    position: relative;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    color: #333;
    margin-right: 106px;
    transition: color 0.5s ease;
}

.site-adress__mini:hover {
    color: #ffbd54;
}

.site-adress__mini:active {
    color: #333;
    opacity: 0.6;
}

.site-adress__mini::before {
    position: absolute;
    top: 3px;
    left: -22px;
    width: 14px;
    height: 13px;
    content: "";
    display: inline-block;
    background-image: url("./images/small\ house.svg");
    background-size: contain;
}

.site-adress__list {
    display: flex;
    margin: 0;
    margin-right: 98px;
    padding-left: 0;
    list-style: none;
}

.site-adress__items {
    position: relative;
    margin-right: 22px;
}

.site-adress__items--active::before {
    position: absolute;
    top: 3px;
    left: -22px;
    width: 13px;
    height: 13px;
    content: "";
    display: inline-block;
    background-image: url("./images/call.svg");
    background-size: contain;
}

.site-adress__items--middle::before {
    position: absolute;
    top: 10px;
    left: -14px;
    width: 4px;
    height: 4px;
    content: "";
    display: inline-block;
    background-image: url("./images/Dot.svg");
    background-size: contain;
}

.site-adress__items--last {
    margin-right: 0;
}

.site-adress__items--last::before {
    position: absolute;
    top: 10px;
    left: -14px;
    width: 4px;
    height: 4px;
    content: "";
    display: inline-block;
    background-image: url("./images/Dot.svg");
    background-size: contain;
}

.site-adress__link {
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    color: #333;
    font-style: normal;
    text-decoration: none;
    transition: color 0.5s ease;
}

.site-adress__link:hover {
    color: #ffbd54;
}

.site-adress__link:active {
    color: #333;
    opacity: 0.6;
}

.site-adress__time-list {
    display: flex;
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.site-adress__time-items {
    position: relative;
}

.site-adress__time-items:first-child {
    margin-right: 17px;
}

.site-adress__time-items:first-child::before {
    position: absolute;
    top: 10px;
    left: -22px;
    width: 11.67px;
    height: 8.17px;
    content: "";
    display: inline-block;
    background-image: url("./images/schedule\ \(1\).svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.site-adress__time-self {
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    color: #333;
    transition: color 0.5s ease;
}

.site-adress__time-self:hover {
    color: #ffbd54;
}

.site-adress__time-self:active {
    color: #333;
    opacity: 0.6;
}

   /*  Nav  */

.site-header__wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    width: 1440px;
    padding-top: 18px;
    padding-bottom: 20px;
    background-color: #fff;
    border: 1px solid #f3f3f3;
}

.site-logo {
    position: absolute;
    top: -21px;
    left: 7px;
    z-index: 3;
    margin-right: 115px;
    transition: opacity 0.5s ease;
}

.site-logo:hover {
    opacity: 0.8;
}

.site-logo:active {
    opacity: 0.6;
}

.nav__list {
    position: relative;
    display: flex;
    margin: 0;
    margin-right: 164.49px;
    margin-left: 238px;
    padding-left: 0;
    list-style: none;
}

.nav__items {
    position: relative;
    margin-right: 55px;
}

.nav__items--initial::before {
    position: absolute;
    top: 5px;
    left: -22px;
    width: 14.75px;
    height: 14.75px;
    content: "";
    display: inline-block;
    background-image: url("./images/fish.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.nav__items--last {
    margin-right: 0;
}

.nav__link {
    display: inline-block;
    line-height: 21px;
    color: #333333;
    text-decoration: none;
    transition: border-bottom 0.2s ease;
}

.nav__link:hover {
    border-bottom: 4px solid #f4ffad;
}

.nav__link:active {
    opacity: 0.6;
}

.site-header__link {
    display: inline-block;
    line-height: 21px;
    color: #333;
    text-decoration: none;
    transition: border-bottom 0.2s ease;
}

.site-header__link:hover {
    border-bottom: 4px solid #f4ffad;
}

.site-header__link:active {
    opacity: 0.6;
}

.site-header__link::before {
    position: relative;
    top: 6px;
    width: 23px;
    height: 20.95px;
    content: "";
    display: inline-block;
    background-image: url("./images/pet.svg");
    background-repeat: no-repeat;
    background-size: contain;
}


   /*  Hero section  */

 .hero {
    width: 100%;
    background-image: url("./images/animals-img.png"), url("./images/parrot-img.png");
    background-repeat: no-repeat;
    background-size: contain, 250px;
    background-position: calc(50% + -480px) calc(50% + -180px), calc(50% + 655px) calc(50% + 156px);
 }  

 .hero__textbox {
    width: 608px;
    margin-left: auto;
    margin-right: 32px;
    padding-top: 153px;
    padding-bottom: 327px;
 }

 .hero__title {
    font-weight: 700;
    font-size: 70px;
    line-height: 64px;
    color: #333;
    margin-top: 0;
 }

 .hero__span {
    font-weight: 700;
    font-size: 70px;
    line-height: 64px;
    color: #78c0de;
 }

.hero__text {
    font-weight: normal;
    line-height: 21px;
    color: #949494;
    margin-top: 0;
    margin-bottom: 38px;
}

.hero__link {
    line-height: 21px;
    color: #fff;
    background-color: #333;
    border-radius: 3px;
    text-decoration: none;
    padding-top: 15px;
    padding-right: 48px;
    padding-bottom: 16px;
    padding-left: 47px;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.hero__link:hover {
    color: #333;
    background-color: #ffbd54;
}

.hero__link:active {
    opacity: 0.6;
}


   /*  Article  */

.site-article {
    position: relative;
    padding-bottom: 191px;
}   

.site-article::before {
    position: absolute;
    top: -43px;
    left: 615px;
    width: 140px;
    height: 1px;
    content: "";
    display: inline-block;
    background-image: url("./images/Line.svg");
    background-repeat: no-repeat;
}

.site-article::after {
    position: relative;
    top: -60px;
    left: 615px;
    width: 140px;
    height: 1px;
    content: "";
    display: inline-block;
    background-image: url("./images/Line.svg");
    background-repeat: no-repeat;
}

.site-article__textbox::before {
    position: absolute;
    left: 160px;
    top: -45px;
    width: 110px;
    height: 90px;
    content: "";
    display: inline-block;
    background-image: url("./images/comma.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.site-article__textbox::after {
    position: absolute;
    top: 55px;
    right: 155px;
    width: 110px;
    height: 90px;
    content: "";
    display: inline-block;
    background-image: url("./images/comma\ reverse.svg");
    background-repeat: no-repeat;
    background-size: contain;

}

.site-article__textbox {
    width: 753px;
    margin: 0 auto;
}   

.site-article__text {
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: #949494;
    margin-top: 0;
    text-align: center;
    margin-bottom: 70px;
}

.site-article__span {
    font-size: 20px;
    line-height: 26px;
    color: #333;
    text-align: center;
    margin-left: 170px;
}

   /*  Cards  */

.card {
    padding-bottom: 235px;
}   

.card__main-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    color: #333;
    margin-top: 0;
    margin-bottom: 80px;
    text-align: center;
}

.card__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.card__list::before {
    position: relative;
    top: 100px;
    right: 15px;
    width: 14px;
    height: 26px;
    content: "";
    display: inline-block;
    background-image: url("./images/arrow1.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.card__list::after {
    position: relative;
    top: 103px;
    left: 15px;
    width: 14px;
    height: 26px;
    content: "";
    display: inline-block;
    background-image: url("./images/arrow2.svg");
    background-repeat: no-repeat;
    background-size: contain;
}


.card__items {
    width: 200px;
    height: 201px;
    background-color: #fff;
    border: 1px solid #f3f3f3;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 14px;
    transition: color 0.5s ease;
}

.card__items:hover {
    opacity: 0.8;
}

.card__items:active {
    opacity: 0.6;
}

.card__title {
    font-size: 18px;
    line-height: 22px;
    color: #333;
    text-align: center;
    margin-top: 21px;
    margin-bottom: 0;
}

.card__items--initial {
    margin-bottom: 0;
    padding-top: 30px;
    padding-right: 32px;
    padding-bottom: 42px;
    padding-left: 35px;
    border-bottom: none;
}

.card__items--initial::before {
    position: relative;
    left: 35px;
    width: 54px;
    height: 78px;
    content: "";
    display: inline-block;
    background-image: url("./images/doctorr.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.card__items--second {
    padding-top: 30px;
    padding-right: 32px;
    padding-bottom: 28px;
    padding-left: 35px;
}

.card__items--second::before {
    position: relative;
    left: 23px;
    width: 61px;
    height: 77px;
    content: "";
    display: inline-block;
    background-image: url("./images/lady.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.card__items--third {
    padding-top: 30px;
    padding-right: 32px;
    padding-bottom: 28px;
    padding-left: 35px;
}

.card__items--third::before {
    position: relative;
    left: 23px;
    width: 72px;
    height: 77px;
    content: "";
    display: inline-block;
    background-image: url("./images/dog\ therapy.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.card__items--fourth {
    padding-top: 30px;
    padding-right: 32px;
    padding-left: 35px;
    padding-bottom: 39px;
}

.card__items--fourth::before {
    position: relative;
    left: 14px;
    width: 75px;
    height: 76px;
    content: "";
    display: inline-block;
    background-image: url("./images/sick\ dog.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.card__items--fifth {
    padding-top: 30px;
    padding-right: 32px;
    padding-left: 35px;
    padding-bottom: 28px;
}

.card__items--fifth::before {
    position: relative;
    left: 16px;
    width: 78px;
    height: 78px;
    content: "";
    display: inline-block;
    background-image: url("./images/veterinary.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.card__items--last {
    margin-right: 0;
    padding-top: 31px;
    padding-right: 32px;
    padding-left: 35px;
    padding-bottom: 39px;
}

.card__items--last::before {
    position: relative;
    left: 25px;
    width: 76px;
    height: 76px;
    content: "";
    display: inline-block;
    background-image: url("./images/dogs.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

  /*  Card inner  */

.card__inner {
    display: flex;
    background-color: #fff;
    border-radius: 0px 5px 5px 5px;
    padding-top: 41px;
    padding-right: 0px;
    padding-bottom: 41px;
    padding-left: 35px;
}

.card__img {
    margin-right: 67px;
}

.card__inner-wrapper {
    width: 492px;
    padding-top: 32px;
    padding-bottom: 31px;
}

.card__inner-title {
    font-size: 36px;
    line-height: 20px;
    color: #333;
    margin-top: 0;
    margin-bottom: 18px;
}

.card__text {
    font-weight: normal;
    line-height: 20px;
    color: #949494;
    margin-top: 0;
}

.card__text--initial {
    margin-bottom: 9px;
}

.card__text--last {
    margin-bottom: 34px;
}

.card__link {
    display: inline-block;
    line-height: 21px;
    color: #fff;
    text-decoration: none;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.card__link--initial {
    background-color: #ffbd54;
    border-radius: 3px;
    margin-right: 21px;
    padding-top: 14px;
    padding-right: 36px;
    padding-bottom: 15px;
    padding-left: 34px;
}

.card__link--initial:hover {
    color: #ffbd54;
    background-color: #333;
}

.card__link--initial:active {
    opacity: 0.6;
}

.card__link--initial::before {
    position: relative;
    top: 5px;
    width: 21px;
    height: 21px;
    content: "";
    display: inline-block;
    background-image: url("./images/linkfirst.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.card__link--last {
    background-color: #333;
    border-radius: 3px;
    padding-top: 14px;
    padding-right: 37px;
    padding-bottom: 15px;
    padding-left: 37px;
}

.card__link--last:hover {
    color: #333;
    background-color: #ffbd54;
}

.card__link--last:active {
    opacity: 0.6;
}

.card__link--last::before {
    position: relative;
    top: 5px;
    width: 21px;
    height: 21px;
    content: "";
    display: inline-block;
    background-image: url("./images/linksecond.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

        /*  Form  */

.site-miniarticle {
    height: 480px;
    padding-top:90px ;
    padding-bottom: 88px;
    background-image: url("./images/Brown\ dog.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.form__wrapper {
   width: 600px;
   margin-top: 90px;
   margin-left: 200px;
}

.form__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 20px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 32px;
}

.form__input {
    font-weight: normal;
    line-height: 20px;
    color: #949494;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    width: 335px;
    padding-top: 18px;
    padding-bottom: 12px;
    padding-left: 22px;
}

.form__wrapper-btn-input{
    display: flex;
    justify-content: space-between;
}

.form__button {
    display: inline;
    background-color: #333;
    border-radius: 3px;
    line-height: 21px;
    color: #fff;
    padding-top: 15px;
    padding-right: 53px;
    padding-bottom: 14px;
    padding-left: 51px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.form__button:hover {
    background-color: #ffbd54;
    color: #333;
}

.form__button:active {
    opacity: 0.6;
}

   /*   Advertisement  */

.site-advertisement {
    padding-top: 216px;
    padding-bottom: 265px;
}   

.adv__heading {
    font-weight: 700;
    font-size: 48px;
    line-height: 20px;
    text-align: center;
    color: #333;
    margin-top: 0;
    margin-bottom: 80px;
}

.adv__list {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.adv__items {
    border: 1px solid #e4e4e2;
    border-radius: 5px;
    background-color: #fff;
    margin-right: 24px;
}

.adv__items--initial {
    width: 305px;
    height: 435px;
}

.adv__initial-wrapper {
    padding-top: 41px;
    padding-right: 31px;
    padding-bottom: 36px;
    padding-left: 22px;
}

.adv__items--middle {
    width: 640px;
    height: 435px;
}

.adv__mini-wrapper {
    display: flex;
}

.adv__link-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 29px;
}

.adv__middle-main {
    padding-top: 35px;
    padding-right: 34px;
    padding-bottom:  36px;
    padding-left: 31px;
}

.adv__middle-link {
    display: inline-block;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #3d9cea;
    text-decoration: none;
    margin-right: 7px;
}

.adv__middle-link:last-child {
    margin-right: 0;
}

.adv__date {
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    color: #949494;
    margin-left: 40px;
}

.adv__middle-wrapper {
    width: 270px;
    display: flex;
    flex-direction: column;
}

.adv__items--last {
    width: 305px;
    height: 435px;
    margin-right: 0;
}

.adv__last-wrapper {
    padding-top: 40px;
    padding-right: 31px;
    padding-bottom: 38px;
    padding-left: 22px;
}

.adv__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    color: #000;
    margin-top: 0;
    margin-bottom: 10px;
}

.adv__text {
    font-weight: normal;
    line-height: 20px;
    color: #949494;
    margin-top: 0;
    margin-bottom: 33px;
}

.adv__link {
    display: inline-block;
    line-height: 21px;
    color: #333;
    text-decoration: none;
    transition: color 0.5s ease;
}

.adv__link:hover {
    color: #ffbd54;
}

.adv__link:active {
    color: #333;
    opacity: 0.6;
}

.adv__link::before {
    position: relative;
    right: 5px;
    top: 5px;
    width: 23px;
    height: 21px;
    content: "";
    display: inline-block;
    background-image: url("./images/pet.svg");
    background-size: contain;
    background-repeat: no-repeat
}

   /*   LOcation and Iframe  */

.site-location {
    padding-bottom: 247px;
}

.location__wrapper {
    display: flex;
}

.location__form {
    width: 987px;
    height: 624px;
    background-image: url("./images/gold\ fish.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #333;
    padding-top: 62px;
    padding-right: 449px;
    padding-bottom: 74px;
    padding-left: 166px;
}

.location__inner {
    width: 375px;
    display: flex;
    flex-direction: column;
}

.location__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 14px;
}

.location__text {
    font-weight: normal;
    line-height: 20px;
    color: #949494;
    margin-top: 0;
    margin-bottom: 29px;
}

.location__input {
    font-weight: normal;
    line-height: 21px;
    color: #949494;
    background-color: #fff;
    border-radius: 0px;
    margin-bottom: 14px;
    padding-top: 16px;
    padding-bottom: 13px;
    padding-left: 22px;
}

.location__input-email {
    font-weight: normal;
    line-height: 21px;
    color: #949494;
    background-color: #fff;
    margin-bottom: 14px;
    padding-top: 16px;
    padding-bottom: 13px;
    padding-left: 22px;
}

.location__textarea {
    font-weight: normal;
    line-height: 21px;
    color: #949494;
    background-color: #fff;
    margin-bottom: 30px;
    padding-top: 17px;
    padding-bottom: 86px;
    padding-left: 22px;
    resize: none;
}

.location__button {
    width: 246px;
    display: inline-block;
    background-color: #ffbd54;
    line-height: 21px;
    color: #fff;
    padding: 15px 35px;
    transition: opacity 0.5s ease;
}

.location__button:hover {
    opacity: 0.8;
}

.location__button:active {
    opacity: 0.6;
}


    /*    Footer   */
   
.site-footer {
    background-color: #f3f3f3;
    border: 1px solid #ebebeb;
    padding-top: 54px;
    padding-bottom: 90px;
}    

.footer__wrapper {
    display: flex;
}

.footer__link-logo {
    transition: opacity 0.5s ease;
}

.footer__link-logo:hover {
    opacity: 0.8;
}

.footer__link-logo:active {
    opacity: 0.6;
}

.footer__list {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.footer__list--initial {
    margin-right: 80px;
}

.footer__list--second {
    margin-right: 120px;
}

.footer__list--third {
    margin-right: 100px;
}

.footer__link-logo {
    margin-right: 67px;
}

.footer__items--first {
    margin-bottom: 14px;
}

.footer__items--second {
    margin-bottom: 14px;
}

.footer__items--fourth {
    margin-bottom: 16px;
}

.footer__items--fifth {
    margin-bottom: 12px;
}

.footer__link {
    display: inline-block;
    line-height: 21px;
    color: #333;
    text-decoration: none;
    transition: color 0.5s ease;
}

.footer__link:hover {
    color: #ffbd54;
}

.footer__link:active {
    color: #333;
    opacity: 0.6;
}

.footer__date {
    font-size: 14px;
    line-height: 18px;
    color: #333;
    margin-bottom: 4px;
    transition: color 0.5s ease;
}

.footer__date:hover {
    color: #ffbd54;
}

.footer__date:active {
    color: #333;
    opacity: 0.6;
}

.footer__date--first::before {
    position: absolute;
    right: 690px;
    width: 11.67px;
    height: 8.17px;
    content: "";
    display: inline-block;
    background-image: url("./images/schedule.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.footer__adress {
    width: 157px;
    font-style: normal;
    line-height: 21px;
    color: #333;
    margin-right: 85px;
    transition: color 0.5s ease;
}

.footer__adress:hover {
    color: #ffbd54;
}

.footer__adress:active {
    color: #333;
    opacity: 0.6;
}

.footer__adress::before {
    position: absolute;
    right: 447px;
    width: 16px;
    height: 16px;
    content: "";
    display: inline-block;
    background-image: url("./images/small\ house.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.footer__link--number {
    margin-bottom: 4px;
    position: relative;
}

.footer__link--number::before {
    position: absolute;
    right: 145px;
    width: 16px;
    height: 16px;
    content: "";
    display: inline-block;
    background-image: url("./images/call.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.footer__link--phone {
    margin-bottom: 4px;
}

.visually-hidden {
    visibility: hidden;
}


    /*    Intro section   */

.intro {
    padding-top: 118px;
    background-image: url("./images/intro-dog.png");
    background-position: calc(50% + 470px) calc(50% + -4px);
    background-repeat: no-repeat;
    background-size: 487px 548px;
}    

.intro__textbox {
    width: 447px;
    margin-bottom: 220px;
    transform: translateX(67px);
}

.intro__title {
    margin-top: 0;
    margin-bottom: 27px;
    font-size: 70px;
    line-height: 64px;
    font-weight: 700;
    color: #333;
}

.intro__text {
    margin: 0;
    line-height: 20px;
    font-weight: normal;
    color: #949494;
}

.intro__inner {
    display: flex;
    align-items: center;
}

.intro__list {
    display: flex;
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.intro__items {
    display: flex;
    flex-direction: column;
    margin-right: 118px;
}

.intro__list--initial::before {
    width: 73px;
    height: 73px;
    content: "";
    display: inline-block;
    background-image: url("./images/intro-first.svg");
    background-repeat: no-repeat;
    transform: translate(56px, -90px );
}

.intro__list--middle::before {
    width: 76px;
    height: 72px;
    content: "";
    display: inline-block;
    background-image: url("./images/calendar.svg");
    background-repeat: no-repeat;
    background-size: contain;
    transform: translate(75px, -90px);
}

.intro__list--last::before {
    width: 41px;
    height: 73px;
    content: "";
    background-image: url("./images/phone.svg");
    background-repeat: no-repeat;
    transform: translate(41px, -90px);
}

.intro__items--last {
    margin-right: 0;
}

.intro__link {
    display: inline-block;
    margin-bottom: 10px;
    line-height: 16px;
    color: #333;
    text-decoration: none;
}

.intro__location {
    width: 153px;
    font-style: normal;
}


                             /*    Contacts-article   */
.contacts-article {
    width: 1300px;
    height: 500px;
    padding-top: 395px;
    background-image: url("./images/section-group.svg");
    background-repeat: no-repeat;
    background-size: 1300px 400px;
    background-position:calc(50% + -1px) calc(50% + 50px);
}

.contacts-article__title {
    margin: 0;
    font-size: 48px;
    line-height: 62px;
    font-weight: 700;
    text-align: center;
    color: #333;
}

    /*    Destination    */
.destination {
    padding-bottom: 206px;
}    

.destination__main-wrapper {
    width: 1440px;
}

.destination__wrapper {
    display: flex;
    align-items: center;
}
