/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
    font-family: "Futura PT";
    src: url("./fonts/FuturaPT-Medium.woff2");
}

@font-face {
    font-family: "Futura PT";
    src: url("./fonts/FuturaPT-Light.woff2");
}

@font-face {
    font-family: "Futura PT";
    src: url("./fonts/FuturaPT-Book.woff2");
}

@font-face {
    font-family: "Futura PT";
    src: url("./fonts/FuturaPT-Bold.woff2");
}

:root {
    --main-text-color: #333;
    --main-font-weight: 500;
    --main-font-size: 20px;
    --main-line-height: 22px;
    --main-bg-color: #78c0de;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}


img {
    display: block;
    height: auto;
}

html {
    height: 100%;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Futura PT", "Arial", sans-serif;
    background-image: url("./images/bg.png");
    background-color: #f9f8f8;
    overflow-x: hidden;
}

.container {
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.site-main {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

                   /*   Header section   */
.site-header {
    padding-top: 13px;
}

              /*  Site-adress Inner  */
.site-adress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 13px;
    padding-left: 185px;
}

.site-adress__mini {
    position: relative;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    color: #333;
    margin-right: 106px;
    -webkit-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
}

.site-adress__mini:hover {
    color: #ffbd54;
}

.site-adress__mini:active {
    color: #333;
    opacity: 0.6;
}

.site-adress__mini::before {
    position: absolute;
    top: 3px;
    left: -22px;
    width: 14px;
    height: 13px;
    content: "";
    display: inline-block;
    background-image: url("./images/small\ house.svg");
    background-size: contain;
}

.site-adress__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    margin-right: 98px;
    padding-left: 0;
    list-style: none;
}

.site-adress__items {
    position: relative;
    margin-right: 22px;
}

.site-adress__items--active::before {
    position: absolute;
    top: 3px;
    left: -22px;
    width: 13px;
    height: 13px;
    content: "";
    display: inline-block;
    background-image: url("./images/call.svg");
    background-size: contain;
}

.site-adress__items--middle::before {
    position: absolute;
    top: 10px;
    left: -14px;
    width: 4px;
    height: 4px;
    content: "";
    display: inline-block;
    background-image: url("./images/Dot.svg");
    background-size: contain;
}

.site-adress__items--last {
    margin-right: 0;
}

.site-adress__items--last::before {
    position: absolute;
    top: 10px;
    left: -14px;
    width: 4px;
    height: 4px;
    content: "";
    display: inline-block;
    background-image: url("./images/Dot.svg");
    background-size: contain;
}

.site-adress__link {
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    color: #333;
    font-style: normal;
    text-decoration: none;
    -webkit-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
}

.site-adress__link:hover {
    color: #ffbd54;
}

.site-adress__link:active {
    color: #333;
    opacity: 0.6;
}

.site-adress__time-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.site-adress__time-items {
    position: relative;
}

.site-adress__time-items:first-child {
    margin-right: 17px;
}

.site-adress__time-items:first-child::before {
    position: absolute;
    top: 10px;
    left: -22px;
    width: 11.67px;
    height: 8.17px;
    content: "";
    display: inline-block;
    background-image: url("./images/schedule\ \(1\).svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.site-adress__time-self {
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    color: #333;
    -webkit-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
}

.site-adress__time-self:hover {
    color: #ffbd54;
}

.site-adress__time-self:active {
    color: #333;
    opacity: 0.6;
}

   /*  Nav  */

.site-header__wrapper {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1440px;
    padding-top: 18px;
    padding-bottom: 20px;
    background-color: #fff;
    border: 1px solid #f3f3f3;
}

.site-logo {
    position: absolute;
    top: -21px;
    left: 7px;
    z-index: 3;
    margin-right: 115px;
    -webkit-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

.site-logo:hover {
    opacity: 0.8;
}

.site-logo:active {
    opacity: 0.6;
}

.nav__list {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    margin-right: 164.49px;
    margin-left: 238px;
    padding-left: 0;
    list-style: none;
}

.nav__items {
    position: relative;
    margin-right: 55px;
}

.nav__items--initial::before {
    position: absolute;
    top: 5px;
    left: -22px;
    width: 14.75px;
    height: 14.75px;
    content: "";
    display: inline-block;
    background-image: url("./images/fish.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.nav__items--last {
    margin-right: 0;
}

.nav__link {
    display: inline-block;
    line-height: 21px;
    color: #333333;
    text-decoration: none;
    -webkit-transition: border-bottom 0.2s ease;
    -o-transition: border-bottom 0.2s ease;
    transition: border-bottom 0.2s ease;
}

.nav__link:hover {
    border-bottom: 4px solid #f4ffad;
}

.nav__link:active {
    opacity: 0.6;
}

.site-header__link {
    display: inline-block;
    line-height: 21px;
    color: #333;
    text-decoration: none;
    -webkit-transition: border-bottom 0.2s ease;
    -o-transition: border-bottom 0.2s ease;
    transition: border-bottom 0.2s ease;
}

.site-header__link:hover {
    border-bottom: 4px solid #f4ffad;
}

.site-header__link:active {
    opacity: 0.6;
}

.site-header__link::before {
    position: relative;
    top: 6px;
    width: 23px;
    height: 20.95px;
    content: "";
    display: inline-block;
    background-image: url("./images/pet.svg");
    background-repeat: no-repeat;
    background-size: contain;
}


   /*  Hero section  */

 .hero {
    width: 100%;
    background-image: url("./images/animals-img.png"), url("./images/parrot-img.png");
    background-repeat: no-repeat;
    background-size: contain, 250px;
    background-position: calc(50% + -480px) calc(50% + -180px), calc(50% + 655px) calc(50% + 156px);
 }  

 .hero__textbox {
    width: 608px;
    margin-left: auto;
    margin-right: 32px;
    padding-top: 153px;
    padding-bottom: 327px;
 }

 .hero__title {
    font-weight: 700;
    font-size: 70px;
    line-height: 64px;
    color: #333;
    margin-top: 0;
 }

 .hero__span {
    font-weight: 700;
    font-size: 70px;
    line-height: 64px;
    color: #78c0de;
 }

.hero__text {
    font-weight: normal;
    line-height: 21px;
    color: #949494;
    margin-top: 0;
    margin-bottom: 38px;
}

.hero__link {
    line-height: 21px;
    color: #fff;
    background-color: #333;
    border-radius: 3px;
    text-decoration: none;
    padding-top: 15px;
    padding-right: 48px;
    padding-bottom: 16px;
    padding-left: 47px;
    -webkit-transition: color 0.5s ease, background-color 0.5s ease;
    -o-transition: color 0.5s ease, background-color 0.5s ease;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.hero__link:hover {
    color: #333;
    background-color: #ffbd54;
}

.hero__link:active {
    opacity: 0.6;
}


   /*  Article  */

.site-article {
    position: relative;
    padding-bottom: 191px;
}   

.site-article::before {
    position: absolute;
    top: -43px;
    left: 615px;
    width: 140px;
    height: 1px;
    content: "";
    display: inline-block;
    background-image: url("./images/Line.svg");
    background-repeat: no-repeat;
}

.site-article::after {
    position: relative;
    top: -60px;
    left: 615px;
    width: 140px;
    height: 1px;
    content: "";
    display: inline-block;
    background-image: url("./images/Line.svg");
    background-repeat: no-repeat;
}

.site-article__textbox::before {
    position: absolute;
    left: 160px;
    top: -45px;
    width: 110px;
    height: 90px;
    content: "";
    display: inline-block;
    background-image: url("./images/comma.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.site-article__textbox::after {
    position: absolute;
    top: 55px;
    right: 155px;
    width: 110px;
    height: 90px;
    content: "";
    display: inline-block;
    background-image: url("./images/comma\ reverse.svg");
    background-repeat: no-repeat;
    background-size: contain;

}

.site-article__textbox {
    width: 753px;
    margin: 0 auto;
}   

.site-article__text {
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: #949494;
    margin-top: 0;
    text-align: center;
    margin-bottom: 70px;
}

.site-article__span {
    font-size: 20px;
    line-height: 26px;
    color: #333;
    text-align: center;
    margin-left: 170px;
}

   /*  Cards  */

.card {
    padding-bottom: 235px;
}   

.card__main-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    color: #333;
    margin-top: 0;
    margin-bottom: 80px;
    text-align: center;
}

.card__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.card__list::before {
    position: relative;
    top: 100px;
    right: 15px;
    width: 14px;
    height: 26px;
    content: "";
    display: inline-block;
    background-image: url("./images/arrow1.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.card__list::after {
    position: relative;
    top: 103px;
    left: 15px;
    width: 14px;
    height: 26px;
    content: "";
    display: inline-block;
    background-image: url("./images/arrow2.svg");
    background-repeat: no-repeat;
    background-size: contain;
}


.card__items {
    width: 200px;
    height: 201px;
    background-color: #fff;
    border: 1px solid #f3f3f3;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 14px;
    -webkit-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
}

.card__items:hover {
    opacity: 0.8;
}

.card__items:active {
    opacity: 0.6;
}

.card__title {
    font-size: 18px;
    line-height: 22px;
    color: #333;
    text-align: center;
    margin-top: 21px;
    margin-bottom: 0;
}

.card__items--initial {
    margin-bottom: 0;
    padding-top: 30px;
    padding-right: 32px;
    padding-bottom: 42px;
    padding-left: 35px;
    border-bottom: none;
}

.card__items--initial::before {
    position: relative;
    left: 35px;
    width: 54px;
    height: 78px;
    content: "";
    display: inline-block;
    background-image: url("./images/doctorr.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.card__items--second {
    padding-top: 30px;
    padding-right: 32px;
    padding-bottom: 28px;
    padding-left: 35px;
}

.card__items--second::before {
    position: relative;
    left: 23px;
    width: 61px;
    height: 77px;
    content: "";
    display: inline-block;
    background-image: url("./images/lady.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.card__items--third {
    padding-top: 30px;
    padding-right: 32px;
    padding-bottom: 28px;
    padding-left: 35px;
}

.card__items--third::before {
    position: relative;
    left: 23px;
    width: 72px;
    height: 77px;
    content: "";
    display: inline-block;
    background-image: url("./images/dog\ therapy.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.card__items--fourth {
    padding-top: 30px;
    padding-right: 32px;
    padding-left: 35px;
    padding-bottom: 39px;
}

.card__items--fourth::before {
    position: relative;
    left: 14px;
    width: 75px;
    height: 76px;
    content: "";
    display: inline-block;
    background-image: url("./images/sick\ dog.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.card__items--fifth {
    padding-top: 30px;
    padding-right: 32px;
    padding-left: 35px;
    padding-bottom: 28px;
}

.card__items--fifth::before {
    position: relative;
    left: 16px;
    width: 78px;
    height: 78px;
    content: "";
    display: inline-block;
    background-image: url("./images/veterinary.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.card__items--last {
    margin-right: 0;
    padding-top: 31px;
    padding-right: 32px;
    padding-left: 35px;
    padding-bottom: 39px;
}

.card__items--last::before {
    position: relative;
    left: 25px;
    width: 76px;
    height: 76px;
    content: "";
    display: inline-block;
    background-image: url("./images/dogs.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

  /*  Card inner  */

.card__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #fff;
    border-radius: 0px 5px 5px 5px;
    padding-top: 41px;
    padding-right: 0px;
    padding-bottom: 41px;
    padding-left: 35px;
}

.card__img {
    margin-right: 67px;
}

.card__inner-wrapper {
    width: 492px;
    padding-top: 32px;
    padding-bottom: 31px;
}

.card__inner-title {
    font-size: 36px;
    line-height: 20px;
    color: #333;
    margin-top: 0;
    margin-bottom: 18px;
}

.card__text {
    font-weight: normal;
    line-height: 20px;
    color: #949494;
    margin-top: 0;
}

.card__text--initial {
    margin-bottom: 9px;
}

.card__text--last {
    margin-bottom: 34px;
}

.card__link {
    display: inline-block;
    line-height: 21px;
    color: #fff;
    text-decoration: none;
    -webkit-transition: color 0.5s ease, background-color 0.5s ease;
    -o-transition: color 0.5s ease, background-color 0.5s ease;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.card__link--initial {
    background-color: #ffbd54;
    border-radius: 3px;
    margin-right: 21px;
    padding-top: 14px;
    padding-right: 36px;
    padding-bottom: 15px;
    padding-left: 34px;
}

.card__link--initial:hover {
    color: #ffbd54;
    background-color: #333;
}

.card__link--initial:active {
    opacity: 0.6;
}

.card__link--initial::before {
    position: relative;
    top: 5px;
    width: 21px;
    height: 21px;
    content: "";
    display: inline-block;
    background-image: url("./images/linkfirst.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.card__link--last {
    background-color: #333;
    border-radius: 3px;
    padding-top: 14px;
    padding-right: 37px;
    padding-bottom: 15px;
    padding-left: 37px;
}

.card__link--last:hover {
    color: #333;
    background-color: #ffbd54;
}

.card__link--last:active {
    opacity: 0.6;
}

.card__link--last::before {
    position: relative;
    top: 5px;
    width: 21px;
    height: 21px;
    content: "";
    display: inline-block;
    background-image: url("./images/linksecond.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

        /*  Form  */

.site-miniarticle {
    height: 480px;
    padding-top:90px ;
    padding-bottom: 88px;
    background-image: url("./images/Brown\ dog.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.form__wrapper {
   width: 600px;
   margin-top: 90px;
   margin-left: 200px;
}

.form__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 20px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 32px;
}

.form__input {
    font-weight: normal;
    line-height: 20px;
    color: #949494;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    width: 335px;
    padding-top: 18px;
    padding-bottom: 12px;
    padding-left: 22px;
}

.form__wrapper-btn-input{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.form__button {
    display: inline;
    background-color: #333;
    border-radius: 3px;
    line-height: 21px;
    color: #fff;
    padding-top: 15px;
    padding-right: 53px;
    padding-bottom: 14px;
    padding-left: 51px;
    -webkit-transition: background-color 0.5s ease, color 0.5s ease;
    -o-transition: background-color 0.5s ease, color 0.5s ease;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.form__button:hover {
    background-color: #ffbd54;
    color: #333;
}

.form__button:active {
    opacity: 0.6;
}

   /*   Advertisement  */

.site-advertisement {
    padding-top: 216px;
    padding-bottom: 265px;
}   

.adv__heading {
    font-weight: 700;
    font-size: 48px;
    line-height: 20px;
    text-align: center;
    color: #333;
    margin-top: 0;
    margin-bottom: 80px;
}

.adv__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.adv__items {
    border: 1px solid #e4e4e2;
    border-radius: 5px;
    background-color: #fff;
    margin-right: 24px;
}

.adv__items--initial {
    width: 305px;
    height: 435px;
}

.adv__initial-wrapper {
    padding-top: 41px;
    padding-right: 31px;
    padding-bottom: 36px;
    padding-left: 22px;
}

.adv__items--middle {
    width: 640px;
    height: 435px;
}

.adv__mini-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.adv__link-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 29px;
}

.adv__middle-main {
    padding-top: 35px;
    padding-right: 34px;
    padding-bottom:  36px;
    padding-left: 31px;
}

.adv__middle-link {
    display: inline-block;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #3d9cea;
    text-decoration: none;
    margin-right: 7px;
}

.adv__middle-link:last-child {
    margin-right: 0;
}

.adv__date {
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    color: #949494;
    margin-left: 40px;
}

.adv__middle-wrapper {
    width: 270px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.adv__items--last {
    width: 305px;
    height: 435px;
    margin-right: 0;
}

.adv__last-wrapper {
    padding-top: 40px;
    padding-right: 31px;
    padding-bottom: 38px;
    padding-left: 22px;
}

.adv__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    color: #000;
    margin-top: 0;
    margin-bottom: 10px;
}

.adv__text {
    font-weight: normal;
    line-height: 20px;
    color: #949494;
    margin-top: 0;
    margin-bottom: 33px;
}

.adv__link {
    display: inline-block;
    line-height: 21px;
    color: #333;
    text-decoration: none;
    -webkit-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
}

.adv__link:hover {
    color: #ffbd54;
}

.adv__link:active {
    color: #333;
    opacity: 0.6;
}

.adv__link::before {
    position: relative;
    right: 5px;
    top: 5px;
    width: 23px;
    height: 21px;
    content: "";
    display: inline-block;
    background-image: url("./images/pet.svg");
    background-size: contain;
    background-repeat: no-repeat
}

   /*   LOcation and Iframe  */

.site-location {
    padding-bottom: 247px;
}

.location__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.location__form {
    width: 987px;
    height: 624px;
    background-image: url("./images/gold\ fish.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #333;
    padding-top: 62px;
    padding-right: 449px;
    padding-bottom: 74px;
    padding-left: 166px;
}

.location__inner {
    width: 375px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.location__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 14px;
}

.location__text {
    font-weight: normal;
    line-height: 20px;
    color: #949494;
    margin-top: 0;
    margin-bottom: 29px;
}

.location__input {
    font-weight: normal;
    line-height: 21px;
    color: #949494;
    background-color: #fff;
    border-radius: 0px;
    margin-bottom: 14px;
    padding-top: 16px;
    padding-bottom: 13px;
    padding-left: 22px;
}

.location__input-email {
    font-weight: normal;
    line-height: 21px;
    color: #949494;
    background-color: #fff;
    margin-bottom: 14px;
    padding-top: 16px;
    padding-bottom: 13px;
    padding-left: 22px;
}

.location__textarea {
    font-weight: normal;
    line-height: 21px;
    color: #949494;
    background-color: #fff;
    margin-bottom: 30px;
    padding-top: 17px;
    padding-bottom: 86px;
    padding-left: 22px;
    resize: none;
}

.location__button {
    width: 246px;
    display: inline-block;
    background-color: #ffbd54;
    line-height: 21px;
    color: #fff;
    padding: 15px 35px;
    -webkit-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

.location__button:hover {
    opacity: 0.8;
}

.location__button:active {
    opacity: 0.6;
}


                /*    Footer   */
.site-footer {
    background-color: #f3f3f3;
    border: 1px solid #ebebeb;
    padding-top: 54px;
    padding-bottom: 90px;
}    

.footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer__link-logo {
    -webkit-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

.footer__link-logo:hover {
    opacity: 0.8;
}

.footer__link-logo:active {
    opacity: 0.6;
}

.footer__list {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.footer__list--initial {
    margin-right: 80px;
}

.footer__list--second {
    margin-right: 120px;
}

.footer__list--third {
    margin-right: 100px;
}

.footer__link-logo {
    margin-right: 67px;
}

.footer__items--first {
    margin-bottom: 14px;
}

.footer__items--second {
    margin-bottom: 14px;
}

.footer__items--fourth {
    margin-bottom: 16px;
}

.footer__items--fifth {
    margin-bottom: 12px;
}

.footer__link {
    display: inline-block;
    line-height: 21px;
    color: #333;
    text-decoration: none;
    -webkit-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
}

.footer__link:hover {
    color: #ffbd54;
}

.footer__link:active {
    color: #333;
    opacity: 0.6;
}

.footer__date {
    font-size: 14px;
    line-height: 18px;
    color: #333;
    margin-bottom: 4px;
    -webkit-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
}

.footer__date:hover {
    color: #ffbd54;
}

.footer__date:active {
    color: #333;
    opacity: 0.6;
}

.footer__date--first::before {
    position: absolute;
    right: 690px;
    width: 11.67px;
    height: 8.17px;
    content: "";
    display: inline-block;
    background-image: url("./images/schedule.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.footer__adress {
    width: 157px;
    font-style: normal;
    line-height: 21px;
    color: #333;
    margin-right: 85px;
    -webkit-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
}

.footer__adress:hover {
    color: #ffbd54;
}

.footer__adress:active {
    color: #333;
    opacity: 0.6;
}

.footer__adress::before {
    position: absolute;
    right: 456px;
    width: 16px;
    height: 16px;
    content: "";
    display: inline-block;
    background-image: url("./images/small\ house.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.footer__link--number {
    margin-bottom: 4px;
    position: relative;
}

.footer__link--number::before {
    position: absolute;
    right: 145px;
    width: 16px;
    height: 16px;
    content: "";
    display: inline-block;
    background-image: url("./images/call.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.footer__link--phone {
    margin-bottom: 4px;
}

.visually-hidden {
    visibility: hidden;
}


         /*    Intro section   */
.intro {
    padding-top: 118px;
    padding-bottom: 50px;
    background-image: url("./images/intro-dog.png");
    background-position: calc(50% + 470px) calc(50% + -32px);
    background-repeat: no-repeat;
    background-size: 487px 548px;
}    

.intro__textbox {
    width: 447px;
    margin-bottom: 220px;
    -webkit-transform: translateX(67px);
        -ms-transform: translateX(67px);
            transform: translateX(67px);
}

.intro__title {
    margin-top: 0;
    margin-bottom: 27px;
    font-size: 70px;
    line-height: 64px;
    font-weight: 700;
    color: #333;
}

.intro__text {
    margin: 0;
    line-height: 20px;
    font-weight: normal;
    color: #949494;
}

.intro__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.intro__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.intro__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 118px;
}

.intro__list--initial::before {
    width: 73px;
    height: 73px;
    content: "";
    display: inline-block;
    background-image: url("./images/intro-first.svg");
    background-repeat: no-repeat;
    -webkit-transform: translate(56px, -90px );
        -ms-transform: translate(56px, -90px );
            transform: translate(56px, -90px );
}

.intro__list--middle::before {
    width: 76px;
    height: 72px;
    content: "";
    display: inline-block;
    background-image: url("./images/calendar.svg");
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-transform: translate(75px, -90px);
        -ms-transform: translate(75px, -90px);
            transform: translate(75px, -90px);
}

.intro__list--last::before {
    width: 41px;
    height: 73px;
    content: "";
    background-image: url("./images/phone.svg");
    background-repeat: no-repeat;
    -webkit-transform: translate(41px, -90px);
        -ms-transform: translate(41px, -90px);
            transform: translate(41px, -90px);
}

.intro__items--last {
    margin-right: 0;
}

.intro__link {
    display: inline-block;
    margin-bottom: 10px;
    line-height: 16px;
    color: #333;
    text-decoration: none;
}

.intro__location {
    width: 153px;
    font-style: normal;
}


                             /*    Contacts-article   */
.contacts-article__wrapper {
    position: relative;
    z-index: 100;
    top: 190px;
    width: 1300px;
    height: 500px;
    background-image: url("./images/section-group.svg");
    background-repeat: no-repeat;
}

.contacts-article__title {
    margin-top: 225px;
    margin-bottom: 0;
    font-size: 48px;
    line-height: 62px;
    font-weight: 700;
    text-align: center;
    color: #333;
}

    /*    Destination    */
.destination {
    padding-bottom: 206px;
}    

.destination__main-wrapper {
    width: 1440px;
}

.destination__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}


            /*    Faq page and hero    */
.faq-hero {
    padding-top: 118px;
    padding-bottom: 270px;
    background-image: url("./images/faqbgimg.png"), url("./images/faqheroparrot.png");
    background-repeat: no-repeat;
    background-size: 569px 466px, 654px 640px;
    background-position: calc(50% + 440px) calc(50% + -425px), calc(50% + 340px) calc(50% + 380px);
}

.faq-hero__textbox {
    width: 447px;
    padding-bottom: 63px;
}

.faq-hero__heading {
    margin-top: 0;
    margin-bottom: 27px;
    font-weight: 700;
    font-size: 70px;
    line-height: 64px;
    color: var(--main-text-color); 
}

.faq-hero__paragraph {
    margin-top: 0;
    margin-bottom: 35px;
    font-weight: normal;
    line-height: 20px;
    color: #949494;
}

.faq-hero__link {
    display: inline-block;
    padding: 15px 38px;
    line-height: 21px;
    color: #fff;
    background-color: #78c0de;
    border-radius: 3px;
    text-decoration: none;
    -webkit-transition: color 0.5s ease, background-color 0.5s ease;
    -o-transition: color 0.5s ease, background-color 0.5s ease;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.faq-hero__link:hover {
    opacity: 0.8;
}

.faq-hero__link:active {
    opacity: 0.6;
}

.faq-hero__link::before {
    position: relative;
    top: 5px;
    width: 21px;
    height: 21px;
    content: "";
    display: inline-block;
    background-image: url("./images/linksecond.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.faq-hero__list {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.faq-hero__items {
    position: relative;
    z-index: 1;
    width: 752px;
    margin-bottom: 18px;
    background-color: #fff;
    border: 1px solid #f3f3f3;
    border-radius: 5px;
}

.faq-hero__items--initial {
    padding: 27px 112px 75px 63px;
}

.faq-hero__time {
    margin-right: 30px;
    margin-left: 30px;
    font-size: 14px;
    line-height: 22px;
    color: var(--main-text-color);
}

.faq-hero__items--initial::before {
    position: absolute;
    display: block;
    content: "";
    width: 23px;
    height: 20px;
    background-image: url("./images/faqheroyellow.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.faq-hero__title--initial::after {
    position: absolute;
    top: 67px;
    left: 670px;
    display: block;
    content: "";
    width: 15px;
    height: 16px;
    background-image: url("./images/faqheroarrowup.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.faq-hero__title--middle::after {
    position: absolute;
    top: 67px;
    left: 670px;
    display: block;
    content: "";
    width: 15px;
    height: 16px;
    background-image: url("./images/faqheroarrowdown.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.faq-hero__items--middle {
    padding: 23px 150px 32px 63px;
}

.faq-hero__items--middle::before {
    position: absolute;
    display: block;
    content: "";
    width: 23px;
    height: 20px;
    background-image: url("./images/faqheroblue.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.faq-hero__items--last {
    padding: 23px 150px 32px 63px;
}

.faq-hero__items--last::before {
    position: absolute;
    display: block;
    content: "";
    width: 23px;
    height: 20px;
    background-image: url("./images/faqheroyellow.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.faq-hero__span {
    font-size: 12px;
    line-height: 22px;
    font-weight: 500;
    text-align: right;
    text-transform: uppercase;
    color: #78c0de;
}

.faq-hero__inner-textbox {
    max-width: 570px;
    width: 100%;
    margin: 0 auto;
}

.faq-hero__title {
    margin-top: 11px;
    margin-bottom: 23px;
    font-size: var(--main-font-size);
    line-height: var(--main-line-height);
    font-weight: var(--main-font-weight);
    color: var(--main-text-color);
}

.faq-hero__text {
    margin: 0;
    line-height: 20px;
    color: #949494;
}

                  /*   Services page and hero   */
.services-hero {
    padding-top: 120px;
    padding-bottom: 126px;
}

.services-hero__wrapper {
    background-image: url("./images/servicesbgimg.png");
    background-position: calc(50% + 424px) calc(50% + -700px);
    background-repeat: no-repeat;
    background-size: 435px;
}

.services-hero__textbox {
    max-width: 431px;
    width: 100%;
    margin-bottom: 140px;
    -webkit-transform: translateX(125px);
        -ms-transform: translateX(125px);
            transform: translateX(125px);
}

.services-hero__heading {
    margin-top: 0;
    margin-bottom: 21px;
    font-size: 70px;
    line-height: 64px;
    font-weight: 700;
    color: var(--main-text-color);
}

.services-hero__paragraph {
    margin: 0;
    line-height: 20px;
    color: #949494;
}

.services-hero__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

.services-hero__items {
    position: relative;
    z-index: 1;
    margin-right: 30px;
    margin-bottom: 34px;
    padding: 58px 22px 45px 53px;
    background-color: #fff;
    border-radius: 5px 5px 0px 0px;
}

.services-hero__items:nth-child(4) {
    margin-right: 0;
}

.services-hero__items:nth-child(8) {
    margin-right: 0;
}

.services-hero__items:last-child {
    margin-right: 0;
}

.services-hero__items--initial::after {
    position: absolute;
    top: 20px;
    left: 175px;
    display: block;
    content: "";
    width: 107px;
    height: 94px;
    background-image: url("./images/servicesheropet.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.services-hero__items--second::after {
    position: absolute;
    top: 20px;
    left: 195px;
    display: block;
    content: "";
    width: 107px;
    height: 94px;
    background-image: url("./images/servicesheropet.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.services-hero__items--third::after {
    position: absolute;
    top: 20px;
    left: 195px;
    display: block;
    content: "";
    width: 107px;
    height: 94px;
    background-image: url("./images/servicesheropet.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.services-hero__items--fourth::after {
    position: absolute;
    top: 20px;
    left: 195px;
    display: block;
    content: "";
    width: 107px;
    height: 94px;
    background-image: url("./images/servicesheropet.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.services-hero__items--fifth::after {
    position: absolute;
    top: 20px;
    left: 195px;
    display: block;
    content: "";
    width: 107px;
    height: 94px;
    background-image: url("./images/servicesheropet.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.services-hero__items--sixth::after {
    position: absolute;
    top: 20px;
    left: 195px;
    display: block;
    content: "";
    width: 107px;
    height: 94px;
    background-image: url("./images/servicesheropet.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.services-hero__items--seventh::after {
    position: absolute;
    top: 20px;
    left: 195px;
    display: block;
    content: "";
    width: 107px;
    height: 94px;
    background-image: url("./images/servicesheropet.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.services-hero__items--eighth::after {
    position: absolute;
    top: 20px;
    left: 195px;
    display: block;
    content: "";
    width: 107px;
    height: 94px;
    background-image: url("./images/servicesheropet.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.services-hero__items--nineth::after {
    position: absolute;
    top: 20px;
    left: 195px;
    display: block;
    content: "";
    width: 107px;
    height: 94px;
    background-image: url("./images/servicesheropet.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.services-hero__items--tenth::after {
    position: absolute;
    top: 20px;
    left: 195px;
    display: block;
    content: "";
    width: 107px;
    height: 94px;
    background-image: url("./images/servicesheropet.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.services-hero__items--eleventh::after {
    position: absolute;
    top: 20px;
    left: 195px;
    display: block;
    content: "";
    width: 107px;
    height: 94px;
    background-image: url("./images/servicesheropet.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.services-hero__items--last::after {
    position: absolute;
    top: 20px;
    left: 195px;
    display: block;
    content: "";
    width: 107px;
    height: 94px;
    background-image: url("./images/servicesheropet.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.services-hero__inner-textbox {
    max-width: 230px;
    width: 100%;
    margin: 0 auto;
}

.services-hero__img {
   display: block;
}

.services-hero__title {
    margin-top: 22px;
    margin-bottom: 14px;
    font-size: 32px;
    line-height: 34px;
    font-weight: 600;
    color: var(--main-text-color);
}

.services-hero__text {
    margin-top: 0;
    margin-bottom: 26px;
    line-height: 20px;
    color: #949494;
}

.services-hero__link {
    display: inline-block;
    padding: 15px 30px;
    line-height: 21px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    background-color: #ffbd54;
    border-radius: 3px;
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
    -webkit-transition: color 0.5s ease, background-color 0.5s ease;
    -o-transition: color 0.5s ease, background-color 0.5s ease;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.services-hero__link:hover {
    color: #ffbd54;
    background-color: var(--main-text-color);
}

.services-hero__link:active {
    opacity: 0.6;
}



              /*     Check page    */
.check-hero {
    padding-bottom: 174px;
}

.check-hero__main-img {
    margin: 0 auto;
}

.check-hero__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; 
    margin-top: 42px;
}

.check-hero__inner {
    margin-right: 143px;
    padding-left: 224px;
}

.check-hero__mini-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0;
    margin-bottom: 33px;
    padding-left: 0;
    list-style-type: none;
}

.check-hero__mini-items:not(:last-child) {
    margin-right: 18px;
}

.check-hero__link {
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    color: var(--main-text-color);
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
    opacity: 0.6;
    -webkit-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
}

.check-hero__link:hover {
    opacity: 1;
}

.check-hero__textbox {
    max-width: 640px;
    width: 100%;
}

.check-hero__heading {
    margin-top: 0;
    margin-bottom: 28px;
    font-size: 70px;
    line-height: 64px;
    font-weight: 700;
    color: var(--main-text-color);
}

.check-hero__bold {
    font-size: 70px;
    line-height: 64px;
    color: #ffbd54;
}

.check-hero__text {
    margin-top: 0;
    line-height: 20px;
    color: #949494;
}

.check-hero__text:not(:last-child) {
    margin-bottom: 22px;
}

.check-hero__link-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 64px;
}

.check-hero__mini-link {
    display: inline-block;
    line-height: 21px;
    color: #fff;
    text-decoration: none;
    -webkit-transition: color 0.5s ease, background-color 0.5s ease;
    -o-transition: color 0.5s ease, background-color 0.5s ease;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.check-hero__mini-link--first {
    background-color: #ffbd54;
    border-radius: 3px;
    margin-right: 21px;
    padding-top: 14px;
    padding-right: 36px;
    padding-bottom: 15px;
    padding-left: 34px;
}

.check-hero__mini-link--first:hover {
    color: #ffbd54;
    background-color: #333;
}

.check-hero__mini-link--first:active {
    opacity: 0.6;
}

.check-hero__mini-link--first::before {
    position: relative;
    top: 5px;
    width: 21px;
    height: 21px;
    content: "";
    display: inline-block;
    background-image: url("./images/linkfirst.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.check-hero__mini-link--last {
    background-color: #333;
    border-radius: 3px;
    padding-top: 14px;
    padding-right: 37px;
    padding-bottom: 15px;
    padding-left: 37px;
}

.check-hero__mini-link--last:hover {
    color: #333;
    background-color: #ffbd54;
}

.card__link--last:active {
    opacity: 0.6;
}

.card__link--last::before {
    position: relative;
    top: 5px;
    width: 21px;
    height: 21px;
    content: "";
    display: inline-block;
    background-image: url("./images/linksecond.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

      /*   hero inner   */

.check-hero__list {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

.check-hero__items {
    border: 1px solid #e4e4e2;
    border-radius: 5px;
    background-color: #fff;
}

.check-hero__items:not(:last-child) {
    margin-bottom: 11px;
}

.check-hero__card-wrapper {
    padding: 40px 31px;
}

.check-hero__items-textbox {
    max-width: 244px;
    width: 100%;
}

.check-hero__title {
    margin-top: 0;
    margin-bottom: 13px;
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    color: #000;
}

.check-hero__mini-text {
    margin-top: 0;
    margin-bottom: 28px;
    line-height: 20px;
    color: #949494;
}

.check-hero__inner-link {
    display: inline-block;
    line-height: 21px;
    font-weight: var(--main-font-weight);
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
    color: var(--main-text-color);
    -webkit-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
}

.check-hero__inner-link:hover {
    color: #ffbd54;
}

.check-hero__inner-link::before {
    position: relative;
    right: 5px;
    top: 5px;
    width: 23px;
    height: 21px;
    content: "";
    display: inline-block;
    background-image: url(./images/pet.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
 
                /*   Article section   */
.check-article {
    position: relative;
    z-index: 100;
    padding-top: 64px;
    padding-bottom: 300px;
    padding-left: 111px;
    background-image: url("./images/check-form-bg.png");
    background-repeat: no-repeat;
    background-position: center;
}

.check-article__textbox {
    max-width: 276px;
    width: 100%;
}

.check-article__title {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 56px;
    line-height: 62px;
    font-weight: 700;
    color: #fff;
}

.check-article__text {
    margin: 0;
    font-size: 26px;
    line-height: 30px;
    font-weight: var(--main-font-weight);
    color: #fff;
}

.check-article__form {
    padding-top: 100px;
}

.check-article__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.check-article__form {
    margin-left: 61px;
}

.check-article__input-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.check-article__input {
    max-width: 370px;
    width: 100%;
    margin-bottom: 14px;
    padding: 16px 150px 13px 22px;
    line-height: 21px;
    color: #949494;
    background-color: #fff;
    border: none;
}

.check-article__input:last-child {
    margin-bottom: 14px;
    padding-right: 148px;
}

.check-article__area {
    max-width: 370px;
    width: 100%;
    margin-bottom: 26px;
    line-height: 21px;
    color: #949494;
    background-color: #fff;
    border: none
}

.check-article__btn {
    padding: 15px 50px;
    line-height: 21px;
    font-weight: var(--main-font-weight);
    color: #fff;
    background-color: #000;
    border: none;
    -webkit-transition: color 0.5s ease, background-color 0.5s ease;
    -o-transition: color 0.5s ease, background-color 0.5s ease;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.check-article__btn:hover {
    background-color: #ffbd54;
    color: #000;
}

                 /*   Sixth page and articles hero   */
.articles-hero {
    padding-top: 118px;
    padding-bottom: 132px;
    background-image: url("./images/articles-hero-bg.png");
    background-position: calc(50% + 270px) calc(50% + 43px);
    background-size: 415px 317px;
    background-repeat: no-repeat;
}

.articles-hero__textbox {
    max-width: 560px;
    width: 100%;
}

.articles-hero__title {
    margin-top: 0;
    margin-bottom: 21px;
    font-size: 70px;
    line-height: 64px;
    font-weight: 700;
    color: var(--main-text-color);
}

.articles-hero__text {
    margin: 0;
    line-height: 20px;
    color: #949494;
}

                          /*    Articles card section  */
.articles-card {
    padding-top: 41px;
    padding-bottom: 150px;
}

.articles-card__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 126px;
}

.articles-card__inner {
    padding: 68px 150px 70px 82px;
    background-color: #fff;
    border: 1px solid #f3f3f3;
    border-radius: 5px;
}

.articles-card__inner-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 35px;
}

.articles-card__inner-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

.articles-card__inner-items:not(:last-child) {
    margin-right: 7px;
}

.articles-card__inner-link {
    display: inline-block;
    line-height: var(--main-line-height);
    color: #3d9cea;
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
}

.articles-card__time {
    font-size: 14px;
    line-height: 18px;
    font-weight: var(--main-font-weight);
    color: #949494;
}

.articles-card__textbox {
    max-width: 517px;
    width: 100%;
}

.articles-card__heading {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 38px;
    font-weight: 700;
    color: var(--main-text-color);
}

.articles-card__paragraph {
    margin-top: 0;
    margin-bottom: 48px;
    line-height: 20px;
    color: #949494;
}

.articles-card__link {
    display: inline-block;
    line-height: 21px;
    font-weight: var(--main-font-weight);
    color: var(--main-text-color);
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
    -webkit-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
}

.articles-card__link:hover {
    color: #ffbd54;
}

.articles-card__link::before {
    position: relative;
    display: inline-block;
    content: "";
    right: 5px;
    top: 5px;
    width: 23px;
    height: 21px;
    background-image: url("./images/pet.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

                       /*   Articles card list   */
.articles-card__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 116px;
    padding-left: 0;
    list-style-type: none;
}

.articles-card__items {
    max-width: 305px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #e4e4e2;
    border-radius: 5px;
}

.articles-card__items {
    margin-right: 30px;
    margin-bottom: 60px;
}

.articles-card__items:nth-child(4) {
    margin-right: 0;
}

.articles-card__items--none {
    margin-bottom: 0;
}

.articles-card__items:last-child {
    margin-right: 0;
}

.articles-card__img {
    margin-bottom: 40px;
}

.articles-card__mini-textbox {
    max-width: 244px;
    width: 100%;
    margin: 0 auto;
}

.articles-card__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 25px;
    font-weight: 700;
    color: #000;
}

.articles-card__text {
    margin-top: 0;
    margin-bottom: 34px;
    line-height: 20px;
    color: #949494;
}

.articles-card__list-link {
    display: inline-block;
    padding-bottom: 38px;
    padding-left: 25px;
    line-height: 21px;
    font-weight: var(--main-font-weight);
    color: var(--main-text-color);
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
    -webkit-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
}

.articles-card__list-link:hover {
    color: #ffbd54;
}

.articles-card__list-link::before {
    position: relative;
    display: inline-block;
    content: "";
    right: 5px;
    top: 5px;
    width: 23px;
    height: 21px;
    background-image: url("./images/pet.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.articles-card__active-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.articles-card__active-link {
    display: inline-block;
    padding: 16px 40px;
    line-height: 21px;
    font-weight: var(--main-font-weight);
    color: #fff;
    background-color: var(--main-text-color);
    border-radius: 3px;
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
    -webkit-transition: color 0.5s ease, background-color 0.5s ease;
    -o-transition: color 0.5s ease, background-color 0.5s ease;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.articles-card__active-link:hover {
    background-color: #ffbd54;
    color: #000;
}


                /*   Last page and hero   */
.clinic-hero {
    background-image: url("./images/clinic-bg-fem.png"), url("./images/clinic-hero.svg");
    background-repeat: no-repeat;
    background-size: 448px 545px, 669px 236px;
    background-position: calc(50% + 400px) calc(50% + -450px), calc(50% + -326px) calc(50% + -310px);
}

.clinic-hero__textbox {
    max-width: 411px;
    width: 100%;
    padding-top: 177px;
    padding-bottom: 300px;
}

.clinic-hero__title {
    margin-top: 0;
    margin-bottom: 22px;
    font-size: 70px;
    line-height: 64px;
    font-weight: 700;
    color: var(--main-text-color);
}

.clinic-hero__paragraph {
    margin: 0;
    line-height: 20px;
    color: #949494;
}

.clinic-hero__list {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

.clinic-hero__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.clinic-hero__items:first-child {
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #f3f3f3;
    border-radius: 5px;
}

.clinic-hero__items:last-child {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
}

.clinic-hero__text-wrapper {
    max-width: 557px;
    width: 100%;
}

.clinic-hero__mini-text {
    margin: 0;
    font-size: 20px;
    line-height: 26px;
    color: #949494;
}

.clinic-hero__mini {
    color: #ffbd54;
}

.clinic-hero__inner-textbox {
    max-width: 494px;
    width: 100%;
}

.clinic-hero__text {
    margin: 0;
    line-height: 20px;
    color: #949494;
}

.clinic-hero__text:first-child {
    margin-bottom: 19px;
}

                          /*    Clinic-service section   */
.clinic-service {
    padding-top: 30px;
    padding-bottom: 145px;
}                         

.clinic-service__wrapper {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.clinic-service__textbox {
    max-width: 416px;
    width: 100%;
}

.clinic-service__textbox::after {
    position: absolute;
    top: 650px;
    left: 200px;
    display: block;
    content: "";
    width: 37px;
    height: 42px;
    background-image: url("./images/clinic-numbers.svg");
    background-repeat: no-repeat;
}

.clinic-service__title {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 42px;
    line-height: 48px;
    font-weight: 700;
    color: var(--main-text-color);
}

.clinic-service__bold {
    color: #ffbd54;
}

.clinic-service__text {
    margin: 0;
    line-height: 20px;
    color: #949494;
}

.clinic-service__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

